html, body{
    height: 120%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-color: #15202b;
}

.twitter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-post {
    max-width: 50%;
    height: auto;
}